body{
    background-image: url('../Assets/404-error-page-not-found.jpg');
    background-repeat: no-repeat;
    /* background-repeat:; */
    background-size: cover;
    /* background-position: center; */
}